.container {
  width: 60%;
  max-width: 1440px;
  margin: 32px auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: #fff7e9;
  color: #656b6e;
  border-radius: 12px;
  padding: 32px;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.videoTitle {
  color: #ff731d;
}

.creatorName {
  font-size: x-large;
  color: #656b6e;
}

.video {
  z-index: auto;
  position: relative;
}

.videoUrl {
  width: 100%;
  height: auto;
}

.commentGroup {
  box-sizing: border-box;
  background-color: white;
  padding: 32px;
  border-radius: 10px;
}

.postedBy {
  text-align: right;
}
